/* http://htmldog.com/guides/css/advanced/mediaqueries */

@import url(https://fonts.googleapis.com/css?family=Muli);
/*

*/

/*@media screen and (max-width:762 and min-width:900){
    #div-demo{
        font-size: 5px;
    }
} 
*/

.arc text {
  text-anchor: middle;
}

body {
  color: #66615b;
  font-size: 14px;
  font-family: 'Muli', Arial, sans-serif;
  background-color: #f7f7f7;
  background-color: #f9f7ed!important;
  /*background-color: #b3e0e1 !important; 
 background: url(../image/black.jpg) ;*/
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
}


.btn-default,
.btn-warning,
.btn-danger,
.btn-success,
.btn-info {
  font-size: 14px;
  font-family: 'Muli', Arial, sans-serif;
  text-align: right;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.btn.btn-raised {
  /* box-shadow: 0 2px 8px rgba(0,0,0,.12),0 2px 8px rgba(0,0,0,.12);
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    */
  box-shadow: 0 4px 8px rgba(0, 0, 0, .50), 0 4px 8px rgba(0, 0, 0, .50);
  transition: box-shadow .128s cubic-bezier(.4, 0, .2, 1);
}

.btn.btn-raised:hover,
.btn:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, .50), 0 4px 8px rgba(0, 0, 0, .50);
  transition: box-shadow .128s cubic-bezier(.4, 0, .2, 1);
}

.btn:focus {
  outline: none
}

.icon-btn {
  margin-top: -5px !important;
  font-family: 'Muli', Arial, sans-serif !important;
  font-size: 18px;
  padding: 3px 10px;
  border-radius: 50px;
  background: #ffffff;
}

.chart-wrapper {
  font-family: 'Muli', Arial, sans-serif;
  background: #fff;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .23), 0 1px 3px rgba(0, 0, 0, .16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .23), 0 1px 3px rgba(0, 0, 0, .16);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.chart-wrapper .chart-title {
  font-family: 'Muli', Arial, sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid #d9d9d9;
  font-size: 16px;
  font-weight: bold !important;
  text-align: center;
  padding: 10px 10px 10px;
}

.chart-wrapper .chart-area {
  font-family: 'Muli', Arial, sans-serif;
  text-align: center;
  overflow: hidden;
  position: relative;
}

div.tooltip {
  color: black;
  border: 3px solid #fff;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 3px 3px 3px #ccc;
  position: absolute;
  padding: 5px 15px;
  line-height: 0.5;
  font: 10px "fontAwesome";
  font-weight: bold;
}


#exmapleDemo {

  background-color: #e0e0e0;
}

form {
  position: absolute;
  right: 5px;
  top: 10px;
}

.footer {
  font-weight: bolder;
  font-size: 18px;
  font-family: 'Muli', Arial, sans-serif;
  position: absolute !important;
  width: 100%;
  bottom: 0 !important;
  left: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #e8dddd;
}


html {
  position: relative;
  min-height: 100%;
}

img {
  height: 200px;
  width: 250px;
  margin: 20px 2px 2px 2px;
  border: 2px solid cadetblue;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
  box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
}

img:hover {
  border-color: #080808;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .30), 0 5px 15px rgba(0, 0, 0, .2);
}


#mlineLegend,
#stackLegend {
  overflow: auto;
}


.row {
  margin-top: 100px;
}

#return-to-top {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

#kingdom,
#taxonDropdown {
  margin-left: 600px;
  margin-bottom: 50px;
}

#taxonLevel {
  margin-left: 600px;
  margin-bottom: 5px;
}

#kingdomButton {
  margin-left: 550px;
  margin-bottom: 5px;
}

.total-stats {
  width: 270px;
  height: 150px;
  padding-top: 5px;
  background-clip: padding-box;
  margin-left: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .50), 0 4px 8px rgba(0, 0, 0, .50);
}

.widget {
  margin: 0 auto;
  width: 270px;
  margin-left: 50px;
  margin-right: 25px;
  margin-top: 50px;
  background-color: #222D3A;
  /*box-shadow: 0px 0px 1px 0px #06060d;*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, .50), 0 4px 8px rgba(0, 0, 0, .50);
  transition: box-shadow .128s cubic-bezier(.4, 0, .2, 1);

}

.header {
  background-color: #29384D;
  height: 40px;
  color: #929DAF;
  text-align: center;
  line-height: 40px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-weight: 400;
  font-size: 1.5em;
  text-shadow: 1px 1px #06060d;
}

.chart-container {
  padding: 25px;
}

/*custome style on navbar */

.navbar {
  min-height: 50px;
  border-bottom: 0px solid #d9d9d9;
  background-color: #333;
  /*background-color: #f9f7ed;
   background-color: #777;
  background-color: #f4f3ef;
  background-color: #ffd777;*/
  box-shadow: 0 3px 10px rgba(0, 0, 0, .13), 0 3px 10px rgba(0, 0, 0, .16);
}


/*custome style on navbar brand */

.navbar .navbar-brand {
  color: #f4f3ef;
  position: absolute;
  left: 40px;
  margin: 10px 20px;
  font-weight: bolder;
  font-family: 'Muli', Arial, sans-serif;
  padding: 10px 10px;
  font-size: 25px;
}


/* navbar brand on hover */

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #68B3C8;
  color: darkturquoise;
}


/*custome style on navbar li */

.navbar .navbar-nav > li > a {
  /*color: #777;*/
  color: #9a9a9a;
  color: #f4f3ef;
  /*font-weight: 600;*/
  right: 30px;
  font-family: 'Muli', Arial, sans-serif;
  font-size: 18px;
  text-shadow: 1px 1px 1px rgba(60, 60, 60, 0.7);
  line-height: 1.42857;
  letter-spacing: 1.1px;
  margin: 10px 20px;
  padding: 10px 10px;
}


/* navbar li on hover */

.navbar .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #68B3C8;
  color: darkturquoise;
}


/* navbar li on click */

.navbar .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #fff;
}


/* active navbar li */

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
  background-color: #66615b !important;
  color: #fff !important;
  border-radius: 6px !important;
}

.parallex-img1 {
  background-image: url(../../image/pietaxon.png);
  height: 800px;
  background-size: cover;
}

.inner {
  position: absolute;
  left: 0;
  top: 30%;
  margin-left: 25%;
  margin-right: 25%;
  /*background: rgba(52, 27, 43, 0.5);*/
  color: rgba(52, 27, 43, 0.8);
  text-align: center;
  display: inline-block;
}

.inner header h1 {
  font-family: 'Muli', Arial, sans-serif;
  font-weight: bolder !important;
  color: darkturquoise;
}

.inner p {
  font-size: 25px;
  font-weight: bold !important;
  font-family: 'Muli', Arial, sans-serif;
}

.arrow-down {
  top: 80%;
  margin-left: 50%;
  padding: 15px;
  font-size: 30px;
  background-color: rgba(52, 27, 43, 0.7);
  border-radius: 50%;
  width: 70px;
}

.arrow-down a {
  color: #fff !important;
}

.arrow-down a:hover {
  color: darkturquoise !important;
}

.caption {
  font-family: 'Muli', Arial, sans-serif;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.caption .btn-solid {
  color: #fff;
  background-color: rgba(52, 27, 53, .9);
  padding: 15px 15px;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.caption .btn-border {
  margin: auto;
  width: 50% !important;
  border: solid 4px;
  color: #000;
  padding: 20px 30px 20px 30px;
  font-size: 18px;
  letter-spacing: 2px;
}

#loadData {
  display: block;
}

#loadFile {
  display: block;
}

#showViz {
  display: none;
}

#pasteUrl {
  display: none;
}

#exampleData {
  display: none;
}
