@import url(http://fonts.googleapis.com/css?family=Wire+One);

/* treemap style */

div.tooltip {
    color:black;
    border: 3px solid #fff;
	background-color: rgba(255,255,255,0.8);
	border-radius: 5px;
	box-shadow: 3px 3px 3px #ccc;
	position:absolute;
	padding: 5px 15px;
	line-height: 0.5;
	font: 10px "fontAwesome";
    font-weight: bold;
}

.grandparent text { /* header text  */
    font-family: FontAwesome;
    font-size: 8px;
}

text {
  pointer-events: none;
    font-size: 12px;
}

.textdiv { /* text in the boxes    */
    padding: 5px;
    font-family: "Wire One";
    font-size: 20px;
    font-weight: bold;
    background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0)); 
    text-shadow: -2px -2px 2px hsla(0,0%,100%,0.25),
        -1px -1px 2px hsla(0,0%,100%,0.25),
        -1px 1px 2px hsla(0,0%,100%,0.25),
        1px -1px 2px hsla(0,0%,100%,0.25),
        -1px 0px 2px hsla(0,0%,100%,0.25),
        1px 0px 2px hsla(0,0%,100%,0.25);
    overflow: hidden;
}

/*
rect {
  fill:  #bbb;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #bbb;
}
*/